<h1>UserProfle - MongoDB Test</h1>
<section class="insert">
    <h3>Set up User Profile </h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="Name">Name</label>
            <input type="text" id="Name" name="Name">
        </div>
        <div class="input">
            <label for="Email">Email</label>
            <input type="text" id="Email" name="Email">
        </div>
        <div class="input">
            <label for="DOB">Date of Birth</label>
            <input type="text" id="DOB" name="DOB">
        </div>
        <div class="input">
            <label for="hashedPassword">Hashed Password</label>
            <input type="text" id="hashedPassword" name="hashedPassword">
        </div>
         <div class="input">
            <label for="jobTitle">Job Title</label>
            <input type="text" id="jobTitle" name="jobTitle">
        </div>
        <div class="input">
            <label for="phone">Phone Number</label>
            <input type="text" id="phone" name="phone">
        </div>
        <div class="input">
            <label for="projects">Projects</label>
            <input type="text" id="projects" name="projects">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>
<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Name: {{ this.Name }}</div>
                <div>Email: {{ this.Email }}</div>
                <div>DOB: {{ this.DOB }}</div>
                <div>hashedPassword: {{ this.hashedPassword }}</div>
                <div>jobTitle: {{ this.jobTitle }}</div>
                <div>phone: {{ this.phone }}</div>
                <div>projects: {{ this.projects }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>
<section class="update">
    <h3>Update Data</h3>
    <form action="/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="Name">Name</label>
            <input type="text" id="Name" name="Name">
        </div>
        <div class="input">
            <label for="Email">Email</label>
            <input type="text" id="Email" name="Email">
        </div>
        <div class="input">
            <label for="DOB">Date of Birth</label>
            <input type="text" id="DOB" name="DOB">
        </div>
        <div class="input">
            <label for="hashedPassword">Hashed Password</label>
            <input type="text" id="hashedPassword" name="DOB">
        </div>
        <div class="input">
            <label for="jobTitle">Job Title</label>
            <input type="text" id="jobTitle" name="DOB">
        </div>
        <button type="submit">UPDATE</button>
    </form>
</section>
</section> 
 <section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section>

{{!-- <div class="wrapper">
    <a href="/user-profile">User Profile</a>
    <div class="left">
        {{!-- <img src="profile.jpg" 
        alt="user" width="100"> --}}
        <img src="profile.jpg" alt="">
        <h4>{{ this.Name }}</h4>
         <p>{{ this.jobTitle }}</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>{{ this.Email }}</p>
                 </div>
                 <div class="data">
                   <h4>Phone</h4>
                    <p>{{ this.phone }}</p>
              </div>
            </div>
        </div>
      
      <div class="projects">
            <h3>Projects</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Recent</h4>
                    <p>{{this.projects}}</p>
                 </div>
                 <div class="data">
                   <h4>Most Viewed</h4>
                    <p>{{this.projects}}</p>
              </div>
            </div>
        </div> --}}